{% extends 'rbac/base.html' %}

{% block body %}
    <div id="container" class="cls-container">


		<!-- CONTENT -->
		<!--===================================================-->
		<div class="cls-content" style="max-width:1200px; margin: 0 auto 70px">
		    <h1 class="mar-no">Get Started</h1>
		    <br>
		    <h3>Main Layout</h3>
		    <p>Start with modify the examples bellow.</p>
		    <p>We hope you'll customize our templates and examples, adapting them to suit your needs.</p>
		    <br>
		    <hr class="new-section-sm bord-no">
		    <div class="row">
		        <div class="col-xs-4 col-xs-offset-2">
		            <a href="getstarted-expanded-navigation.html" class="thumbnail">
		                <img alt="Expanded Navigation" src="management/img/gs-expanded-nav.png">
		            </a>
		            <h4>Expanded Navigation</h4>
		        </div>
		        <div class="col-xs-4">
		            <a href="container.html" class="thumbnail">
		                <img alt="Expanded Navigation" src="management/img/gs-collapsed-nav.png">
		            </a>
		            <h4>Collapsed Navigation</h4>
		        </div>
		    </div>

		    <hr class="new-section-md bord-no">

		    <div class="row">
		        <div class="col-xs-4">
		            <a href="getstarted-offcanvas-navigation.html" class="thumbnail">
		                <img alt="Off-Canvas Navigation" src="management/img/gs-push-nav.png">
		            </a>
		            <h4>Off-Canvas Navigation</h4>
		        </div>
		        <div class="col-xs-4">
		            <a href="getstarted-slide-in-navigation.html" class="thumbnail">
		                <img alt="Slide-in Navigation" src="management/img/gs-slide-in-nav.png">
		            </a>
		            <h4>Slide-in Navigation</h4>
		        </div>
		        <div class="col-xs-4">
		            <a href="getstarted-revealing-navigation.html" class="thumbnail">
		                <img alt="Revealing Navigation" src="management/img/gs-reveal-nav.png">
		            </a>
		            <h4>Revealing Navigation</h4>
		        </div>
		    </div>
		    <hr class="new-section-lg bord-no">
		    <h3 class="pad-btm">Clean Layout</h3>
		    <div class="row">
		        <div class="col-xs-4">
		            <a href="error.html" class="thumbnail">
		                <img alt="Error Page" src="management/img/gs-error-page.png">
		            </a>
		            <h4>Error Page</h4>
		        </div>
		        <div class="col-xs-4">
		            <a href="login.html" class="thumbnail">
		                <img alt="Login page" src="management/img/gs-login.png">
		            </a>
		            <h4>Login Page</h4>
		        </div>
		        <div class="col-xs-4">
		            <a href="getstarted-login-page-bg.html" class="thumbnail">
		                <img alt="Background Image" src="management/img/gs-login-w-bg.png">
		            </a>
		            <h4>With Background Image</h4>
		        </div>
		    </div>
		</div>


    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->


{% endblock %}