<div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    {% for header in header_list %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for body in body_list %}
                    <tr>
                        {% for item in body %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>